.footer {
  background-color: var(--section-bg-color);
  padding-top: 60px;
  padding-bottom: 60px;
  @media screen and (max-width: $pre-tablet) {
    background-color: var(--section-bg-color);
  }

  &__wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    // display: flex;
    // align-items: baseline;

    @media screen and (min-width: $tablet) and (max-width: $pre-desctop) {
      display: flex;
      flex-direction: column;
    }
    @media screen and (min-width: $desctop) {
      flex-direction: row;
      align-items: baseline;
    }
  }
}
.footer__wrapper--tablet {
  display: flex;
  flex-direction: column;
  @media screen and (min-width: $tablet) and (max-width: $pre-desctop) {
    flex-direction: row;
    align-items: baseline;
  }
  @media screen and (min-width: $desctop) {
    flex-direction: row;
    align-items: baseline;
  }
}
.footer__list {
  display: flex;
  flex-direction: column;
  align-items: center;

  @media screen and (min-width: $tablet) and (max-width: $pre-desctop) {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  @media screen and (min-width: $desctop) {
    display: block;
  }
}
.footer__logo {
  display: flex;
  justify-content: center;
  font-family: 'Raleway';
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--logo-blue-color);
  margin-bottom: 20px;
  text-decoration: none;

  @media screen and (min-width: $tablet) and (max-width: $pre-desctop) {
    justify-content: center;
  }
  @media screen and (min-width: $desctop) {
    display: block;
  }
  &__part {
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: var(--logo-white-color);
  }
}

.adress__item:not(:last-child) {
  margin-bottom: 9px;
}
.adress__link {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  color: rgba(255, 255, 255, 0.6);

  letter-spacing: 0.03em;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    color: var(--hover-blue-color);
    background-color: var(--section-bg-color);
  }
}

.adress__link__location {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;

  letter-spacing: 0.03em;

  color: var(--white-text-color);
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    color: var(--hover-blue-color);
    background-color: var(--section-bg-color);
  }
}

.footer__block__wrapper {
  justify-content: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: 0;
  margin-top: 60px;
  margin-bottom: 50px;
  // margin-left: 70px;

  @media screen and (min-width: $tablet) and (max-width: $pre-desctop) {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 165px;
  }
  @media screen and (min-width: $desctop) {
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 70px;
    align-items: flex-start;
  }
}

.footer__join {
  width: 116px;
  height: 16px;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  color: var(--white-text-color);
}

.footer__social__list {
  display: flex;
  justify-content: center;
  margin-top: 20px;

  .footer__social__item:not(:first-child) {
    margin-left: 10px;
  }
}

.footer__social__link {
  height: 44px;
  width: 44px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  fill: #ffffff;
  background-color: rgba(255, 255, 255, 0.1);
  transition-property: color, background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    background-color: #2196f3;
  }
}

.footer__form__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 60px;

  max-width: 570px;
  width: 100%;
  margin: 0 auto;
  @media screen and (min-width: $tablet) and (max-width: $pre-desctop) {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 60px;
  }
  @media screen and (min-width: $desctop) {
align-items: flex-start;
margin: 0 0 0 auto;
  }
  .footer__title {
    margin-bottom: 20px;
    color: var(--white-text-color);
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
  }
}

.footer__subscribe__form {
  display: flex;
  flex-direction: column;
  align-items: center;

  @media screen and (min-width: $tablet) and (max-width: $pre-desctop) {
    flex-direction: column;
    align-items: center;
  }
  @media screen and (min-width: $desctop) {
    flex-direction: row;
  }
  .footer__icon__subscribe {
    margin-left: 10px;
  }
}

.footer__input {
  width: 450px;

  height: 50px;
  padding: 12px 11px;
  background: #2f303a;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  outline: none;
  cursor: pointer;
  color: rgba(255, 255, 255, 0.6);
  transition-property: border-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  @media screen and (max-width: 455px) {
    width: auto;
  }
  @media screen and (min-width: $desctop) {
    width: 358px;
  }

  &::placeholder {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.25;

    display: flex;
    align-items: center;
    letter-spacing: 0.03em;

    color: rgba(255, 255, 255, 0.6);
  }
  &:hover,
  &:focus {
    border-color: rgba(33, 150, 243, 1);
  }
}

.footer__subscribe__button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 200px;
  height: 50px;
  padding: 10px 28px;
  margin-top: 20px;
  color: var(--white-text-color);
  border: none;
  cursor: pointer;
  background: #2196f3;
  border-radius: 4px;
  transition-property: box-shadow;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  }
  @media screen and (min-width: $desctop) {
    margin-top: 0;
    margin-left: 12px;
  }
}
